/* ---------------------
-----General Rules -----
----------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: indianFont;
    src: url(fonts/TheNewGanesha45.ttf);
}

a {
  text-decoration: none;
  color: white;
}

 body {
   font-family: lato;
   display:grid;
   grid-template-rows: 1fr 1fr;
 }

 .btn-solid {
   background-color: #FFA500;
 }

 .btn-clear {
   color: #FFA500;
 }

 #clear-bg {
   background-color: rgba(0, 0, 0, 0.4);
 }

 .btn {
   flex-grow: 1;
   padding: 1em 2em;
   margin: 0 5px;
   border: 1px solid #FFA500;
   border-radius: 4px;
 }

 .button-menu {
   display: flex;
   justify-content: center;
   width: 35%;
   text-align: center;
 }

/* ---------------------
---------Header---------
----------------------*/

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4) ), url(../Images/Food/food1.jpeg);
  background-position: center;
  background-size: cover;
}

nav {
  width: 100%;
}

.main-logo {
  max-width: 100px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px -12px 15px 21px rgba(0,0,0,0.75);
}

.header-menu li{
  margin: 2em 2em;
  font-weight: 300;
  font-size: 1.1em;
}

.header-menu li:hover {
  text-shadow: 0.5px 0.5px 5px white, -0.5px -0.5px 5px white;
  border-bottom: 1px solid white;
}

.main-title {
  text-align: center;
  padding-top: 5em;
  color: white;
}

.main-title h1 {
  padding-bottom: 0;
  font-family: indianFont;
  margin-bottom: 0;
  font-size: 5em;
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}

.main-title span {
  font-size: 2em;
}

.arrow-down {
  color: white;
  font-size: 3em;
}

.down-arrow {
  margin-bottom: 1em;
}

#logo {
  margin: 0.5em 2em !important;
}

/* ---------------------
-------Commandes--------
----------------------*/

.section-commandez {
  display: flex;
  height: 100vh;
}

.section1 {
  flex: 1 50%;
}

.texte1 {
  margin: 9em 4em 7em 12em;
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.texte1 h4{
  font-weight: 300;
}
.texte1 h2 {
  padding: 1em 0 1em;
  font-size: 2.5em;
  font-weight: 300;
}

.texte1 p{
  flex-basis: 50%;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.3em;
}

.photo1 {
  background: url("../Images/Drone/drone1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 12em 7em 7em 4em;
  box-shadow: 0px 0px 109px 26px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.cmd-section-btn {
  padding: 1em 3em;
  background-color: #FFA500;
  align-self: flex-start;
  border-radius: 4px;
}
